<ion-header>
    <ion-navbar>
      <ion-buttons start>
        <button menuToggle ion-button icon-only style="color:white">
          <ion-icon name="ios-menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>{{name}}</ion-title>
      <ion-buttons end>
      </ion-buttons>
    </ion-navbar>
    <script src="https://use.fontawesome.com/491e16d960.js"></script>
    <link href="https://use.fontawesome.com/491e16d960.css" media="all" rel="stylesheet">
    <link src="abcjs-midi.css" media="all" rel="stylesheet" type="text/css">
    <link src="tune.css" media="all" rel="stylesheet" type="text/css">
  </ion-header>
  <ion-content>
    <ion-list>
        <div>
            <p>Tune Name: {{name}}</p>
            <hr/>
            <p>Created By: {{member}}</p>
            <hr/>
            <p>Date posted: {{date}}</p>
            <hr/>
            <p>Tune Type: {{type}}</p>
            <hr/>
            <p>Tunebooks: {{tuneBookCount}}</p>
            <hr/>
            <p>Recordings: {{recordingCount}}</p>
            <hr/>
            <div>
              <ion-item>
                <div *ngIf="multipleSettings">
                  <accordion title="Functions">
                      <div>
                        <p>Compare settings</p>
                        <ion-item>
                          <ion-select id="leftOptionSelect" ng-model="test" interface="action-sheet" placeholder="Left Setting">
                            {{leftOptions[0]}}
                            <ion-option *ngFor="let option of leftOptions" (ionSelect)="setLeftSetting(option)">
                              {{option}}
                            </ion-option>
                          </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-select interface="action-sheet" placeholder="Right Setting" okText="Select" cancelText="Cancel">
                              {{rightOptions[0]}}
                              <ion-option *ngFor="let option of rightOptions" (ionSelect)="setRightSetting(option)">
                                {{option}}
                              </ion-option>
                            </ion-select>
                          </ion-item>
                      </div>
                      <button ion-button (click)="compareSettings()">Compare Settings</button>
                  </accordion>
                </div>
              </ion-item>
                <ion-item *ngFor="let setting of settings">
                  <ion-card>
                    <accordion title="{{name}} Setting: {{settings.indexOf(setting)}}" style="max-width: 250px">
                      <div [attr.id]="'abc' + settings.indexOf(setting)">
                        X: {{settings.indexOf(setting)}} <br>
                        T: {{name}} <br>
                        R: {{type}} <br>
                        M: {{getMeasure(type)}} <br>
                        L: 1/8 <br>
                        K: {{setting.key.substring(0, 4)}} <br>
                        {{formatAbc(setting.abc, true)}}
                      </div>
                        <div [attr.id]="'settingControlsBox' + settings.indexOf(setting)" style="display: none;">
                          <p>Zoom</p>
                          <button ion-button (click)="zoomIn(settings.indexOf(setting));" style="">+</button>
                          <button ion-button (click)="zoomOut(settings.indexOf(setting));">-</button>
                        </div>
                        <div [attr.id]="'notation' + settings.indexOf(setting)" style="zoom: 0.7;" class="paper"></div>
                        <div [attr.id]="'midi' + settings.indexOf(setting)"></div>
                        <div [attr.id]="'midi-download' + settings.indexOf(setting)"></div>
                        <div [attr.id]="'warnings' + settings.indexOf(setting)"></div>
                        <button ion-button [attr.id]="'notationButton' + settings.indexOf(setting)" (click)="renderNotes(settings.indexOf(setting), setting.abc);">Show Notation</button>
                    </accordion>                    
                    </ion-card>
                </ion-item>
                <h3>Comments:</h3>
                <ion-item *ngFor="let comment of comments">
                  <p>{{comment.subject}}</p>
                  <div>
                    <p>{{comment.content}}</p>
                  </div>
                  <a href="{{comment.member.url}}">Posted by: {{comment.member.name}}</a>
                </ion-item>
            </div>
        </div>
    </ion-list>
  </ion-content>